<footer class="container-fluid">
  <div class="container py-3">
    <div class="row">
      <div class="col-4">
        <h5 class="fw-bold">Contact Us</h5>
        <p class="mb-3">
          Hi, we always open for cooperation and suggestions contact us in one
          of the way below:
        </p>
        <div class="row">
          <div class="col-6">
            <div>
              <p>PHONE NUMBER</p>
              <p class="wht">087965 456321</p>
            </div>

            <div>
              <p>OUR LOCATION</p>
              <address class="wht">
                102, Athipalayam Rd, Ramakrishnapuram, chinnavedampatti,
                Coimbatore, Tamilnadu, 641049
              </address>
            </div>
          </div>
          <div class="col-6">
            <div>
              <p>EMAIL ADDRESS</p>
              <p class="wht">careers&#64;uitouxsolutions.com</p>
            </div>
            <div>
              <p>WORKING HOURS</p>
              <p class="wht">Mon-Fri 10:00pm - 6:00pm</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <h5 class="fw-bold">Information</h5>
        <ul class="list">
          <li>About Us</li>
          <li>Delivery Information</li>
          <li>Privacy Policy</li>
          <li>Brands</li>
          <li>Contact Us</li>
          <li>Returns</li>
          <li>Site Map</li>
        </ul>
      </div>
      <div class="col-2">
        <h5 class="fw-bold">My Account</h5>
        <ul class="list">
          <li>Store Location</li>
          <li>Order History</li>
          <li>Wish List</li>
          <li>News Letter</li>
          <li>Special Offers</li>
          <li>Gift Certificates</li>
          <li>Affiliate</li>
        </ul>
      </div>
      <div class="col-4">
        <h5 class="fw-bold">Newsletter</h5>
        <p>
          Enter your email address below to subscriber to our newsletter and
          keep up to date with discounts and special offers
        </p>
        <form class="d-flex emailinput">
          <input type="text" class="form-control" />
          <button class="btn">Subscribe</button>
        </form>
        <div>
          <p>Follow us on social networks</p>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="container-fluid bg-footer">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center py-3">
      <p class="m-0">
        <span>Powered by</span> React/Next.js -
        <span>Designed by</span> UITOUXSOLUTIONS
      </p>
      <img src="/assets/source-images/payments.png" class="img-fluid" />
    </div>
  </div>
</div>
